amqp==5.3.1
asgiref==3.10.0
billiard==3.6.4.0
black==25.9.0
celery==5.2.7
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coverage==7.11.0
Django==3.2.9
django-celery-beat==2.1.0
django-redis==5.4.0
django-timezone-field==4.2.3
djangorestframework==3.14.0
flake8==7.3.0
iniconfig==2.3.0
isort==7.0.0
kombu==5.6.0
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
pluggy==1.6.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pytest==8.4.2
pytest-cov==7.0.0
pytest-django==4.11.1
python-crontab==3.3.0
python-dateutil==2.8.2
python-decouple==3.8
python-json-logger==4.0.0
pytokens==0.3.0
pytz==2025.2
redis==7.0.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
vine==5.1.0
wcwidth==0.2.14
