<footer class="footer bg-gray-800 relative pt-1 border-t-4 border-blue-600 mt-16">
    <div class="container mx-auto px-6">
        <div class="mt-6 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-8">
                <p class="text-md text-gray-300 font-semibold mb-2">
                    © 2020 by <a href="https://github.com/saadmk11" target="_blank" class="text-blue-400 hover:text-blue-300 hover:underline transition-all duration-200">saadmk11</a>
                </p>
            </div>
        </div>
    </div>
</footer>
