{% for message in messages %}
{% if message.tags == 'error' or message.tags == 'danger' %}
<div class="bg-red-100 border-l-4 border-red-500 rounded-r text-red-900 px-4 py-3 shadow-lg mt-2 animate-fade-in" role="alert">
    <div class="flex">
        <div class="py-1"><svg class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"/></svg></div>
        <div>
            <p class="font-bold">Error!</p>
            <p class="text-sm">{{ message }}</p>
        </div>
    </div>
</div>
{% elif message.tags == 'warning' %}
<div class="bg-yellow-100 border-l-4 border-yellow-500 rounded-r text-yellow-900 px-4 py-3 shadow-lg mt-2 animate-fade-in" role="alert">
    <div class="flex">
        <div class="py-1"><svg class="fill-current h-6 w-6 text-yellow-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v4a1 1 0 102 0V5zm-1 8a1 1 0 100 2 1 1 0 000-2z"/></svg></div>
        <div>
            <p class="font-bold">Warning!</p>
            <p class="text-sm">{{ message }}</p>
        </div>
    </div>
</div>
{% elif message.tags == 'info' %}
<div class="bg-blue-100 border-l-4 border-blue-500 rounded-r text-blue-900 px-4 py-3 shadow-lg mt-2 animate-fade-in" role="alert">
    <div class="flex">
        <div class="py-1"><svg class="fill-current h-6 w-6 text-blue-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v4a1 1 0 002 0V7zm-1 8a1 1 0 100-2 1 1 0 000 2z"/></svg></div>
        <div>
            <p class="font-bold">Info</p>
            <p class="text-sm">{{ message }}</p>
        </div>
    </div>
</div>
{% else %}
<div class="bg-green-100 border-l-4 border-green-500 rounded-r text-green-900 px-4 py-3 shadow-lg mt-2 animate-fade-in" role="alert">
    <div class="flex">
        <div class="py-1"><svg class="fill-current h-6 w-6 text-green-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"/></svg></div>
        <div>
            <p class="font-bold">Success!</p>
            <p class="text-sm">{{ message }}</p>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
